Q1. What are the characteristics of the tuples? Is tuple immutable?

The main characteristics of tuple are 
1. It is a collection of data which is ordered
2. Tuple is immutable
3. Tuple is indexed , the data elements can be retrieved with index no.
3. data elements are contained in () and separated by comma

Tuple is immutable

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

The two tuple methods are count() and index()

In [1]:
t1 = (1,2,5.5,"Rajib" , 7+2j, True)

In [3]:
t1.count(1)

2

In [ ]:
count() method reurns the number of times the argument present in the tuple.Here count() method returns 2 as the data element True is also internally stored as 1 ,

In [4]:
t1.index(5.5)

2

index() method returns the position of the the argument in the tuple. Here starting from 0 position 5.5 is at position 2, so it returns the value 2.

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [ ]:
set is the collection datatype in pyhton which does not allow duplicate items.

In [5]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [6]:
s1= set(List)

In [7]:
s1

{1, 2, 3, 4}

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Union() method returns the union of two sets whereas update() method updates the set on which it is calleds. For union() there will be no change in data for the set on which it is called, but for update the data elements of the set on which it is called is updated.

In [8]:
s1 = {1,3,7,9,15}
s2 = {2,4,7,10,15}
s1.union(s2)

{1, 2, 3, 4, 7, 9, 10, 15}

In [9]:
s1

{1, 3, 7, 9, 15}

In [10]:
s2

{2, 4, 7, 10, 15}

In [11]:
s1.update(s2)

In [12]:
s1

{1, 2, 3, 4, 7, 9, 10, 15}

In [13]:
s2

{2, 4, 7, 10, 15}

Here it is observed that s1 data elements are changed after update()

In [ ]:
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionary is the collection datatype where data is stored as key-value pair. It is not ordered. It is mutable.

In [14]:
d1 = {"id": 123 , "name" : "Rajib Sarkar" , "Age": 34 , "Weight": 72.5 , "Married" : True}

In [15]:
d1

{'id': 123, 'name': 'Rajib Sarkar', 'Age': 34, 'Weight': 72.5, 'Married': True}

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Yes we can create a nested dictionary.

In [16]:
d1 = { "d2" : {"id":123 , "Name": "Rajib" }}

In [17]:
d1

{'d2': {'id': 123, 'Name': 'Rajib'}}

In [ ]:
Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

dict1 ={'language' : 'Python', 'course': 'Data Science Masters'}

In [20]:
dict1 ={'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics" ,["Python", "Machine Learning", "Deep Learning"])

['Python', 'Machine Learning', 'Deep Learning']

In [21]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Three view objects are keys(), values(), items()

In [22]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [23]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [24]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])